@model List<Dish>
@* @inject MyContext _context *@

@{
    ViewData["Title"] = "All Dishes";
    @* var context = ViewBag.Context as MyContext; *@
}

<h1>Check out our tasty dishes! Yum!</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Dish Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dish dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                <td>
                    @dish.Creator.FirstName @dish.Creator.LastName
                    @{
                        @* these are two other ways I figured out to do it that are so much less efficient than the way that Eric just showed me, but I'm keeping them here just in case future reference *@

                        @* var chef = (ViewBag.Context as MyContext).Chefs.FirstOrDefault(c => c.ChefId == dish.ChefId); *@
                        @* this one uses the Viewbag that gets passed through *@

                        @* var chef = _context.Chefs.FirstOrDefault(c => c.ChefId == dish.ChefId);
                        this one uses the inject my_context *@
                        @* @chef.FirstName *@
                    }
                </td> 
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    </tbody>
</table>